.screen-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.song-list, .playlist-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.song-card, .playlist-card {
  position: relative;
  width: 250px; 
  height: 684px; 
  margin: 1px;
  border-radius: 20px;
  background-color: rgb(30, 42, 62);
  border: 1px solid rgba(54, 69, 98, 0.18);
  cursor: pointer;
}

.song-card:hover, .playlist-card:hover {
  transform: scale(1.05);
}

.song-image, .playlist-image {
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.song-title, .song-artist, .playlist-title, .playlist-owner {
  margin: 5px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #c4d0e3;
}

.playlist-title, .playlist-owner {
  font-size: 28px;
}

.play-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
